mixin product-item( options )
	// product-item 
	li.product-item.product-panel__item--sale
		.product-item__img-line
			a.product-item__img-link( href="#{ options.href }" )
				img.product-item__img( src="#{ options.imgSrc }" alt="#{ options.imgAlt }" )
		.product-item__info-line
			.product-item__about-grouper
				h3.product-item__name-line
					a.product-item__name( href="#{ options.href }" ) #{ options.name }
				.product-item__price-line
					.product-item__price-grouper
						.product-item__currency-grouper
							span.product-item__new-currency( data-module="currency" )
						span.product-item__new-price( data-module="price" ) #{ options.oldPrice }
					.product-item__price-grouper
						.product-item__currency-grouper
							span.product-item__old-currency( data-module="currency" )
						span.product-item__old-price( data-module="price" ) #{ options.newPrice }
			include ../btn-cart/btn-cart.jade