a.featured__link( href="product.html" )
	img.featured__img( src="#{imgSrcThumb}" alt="#{imgAlt}" )
.featured__info
	.featured__about
		h3.featured__item-name 
			a.featured__link( href="product.html" ) #{header}
		.featured__current-price
			include ../../../../blocks/currency/currency.jade
			span.featured__current-value #{currentPrice}
		.featured__old-price
			include ../../../../blocks/currency/currency.jade
			span.featured__old-value #{oldPrice}
	include ../../../../blocks/btn-cart/btn-cart.jade